[user]
	name = Ezra Dyck
	email = ezra.dyck@card.com
[alias]
	bd = "!bd() { git branch -D \"$@\" ; } ; bd"
	co = checkout
	b = branch
	s = status

	sl = stash list
	sa = "!sa() { git stash apply stash@{\"$@\"} ; } ; sa"
	sd = "!sd() { git stash drop stash@{\"$@\"} ; } ; sd"
	ss = stash show
	sp = stash pop
	st = stash -um 'tmp'
	stk = stash -kum 'tmp'

	l = log --graph
[rerere]
	enabled = false 
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
