<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="neovim" version="0.8.2"/>
	<package id="git" version="2.39.0"/>
	<package id="7zip.install" version="22.1"/>
	<package id="vscode" version="1.74.3"/>
	<package id="microsoft-windows-terminal" version="1.15.3465.0"/>
	<package id="nvm" version="1.1.9"/>
	<package id="yarn" version="1.22.19"/>
	<package id="notepadplusplus.install" version="8.4.8"/>
	<package id="googlechrome" version="109.0.5414.75"/>
	<package id="python" version="3.11.0"/>
</packages>
